[Unit]
Description=Starts the Gemmy bot.
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pawin
ExecStart=/home/pawin/gemmy/start.py
WorkingDirectory=/home/pawin/gemmy
Restart=always

RestartSec=30 
RestartSteps=4
RestartMaxDelaySec=16m

RuntimeMaxSec=4h
RestartMode=direct
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

